.catagories-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.catagories-types{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;
    font-size: 1rem;
}

.types{
    background-color: #fff;
    color: #000;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #000;
}

.types:active{
    background-color: #ff6100;
    color: #fff;
}


.show-arts{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.catagories-box {
    width: 12%;
    height: 26rem;
    background-color: #fff;
    border-bottom-left-radius: 3.5rem;
    border-bottom-right-radius: 3.5rem;
    transform: scale(1);
    transition: .8s;
    border: 1px solid #ff6100;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.catagories-box:hover {
    transform: scale(1);
    transition: .8s;
}

.temporary .details span {
    color: black;
    font-size: medium;
}

.temporary .catagories-box .picture {
    width: 100%;
    height: 50%;
    contain: strict;
    display: flex;
    justify-content: center;
    background: rgb(94, 94, 94);
    transform: scale(1);
    transition: .8s;
}

.temporary .catagories-box .picture:hover {
    transform: scale(1);
    transition: .8s;
}

.temporary .catagories-box .picture .img {
    width: 100%;
    height: 100%;

}

.temporary .catagories-box .details {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temporary .catagories-box .details .size-price span {
    text-decoration: none;
}

.temporary .catagories-box .details .size-price span:nth-child(1) {
    color: grey;
}

.temporary .catagories-box .details .size-price span:nth-child(2) {
    margin-left: 0.3rem;
}

.temporary .catagories-box .cart {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


.temporary .catagories-box .cart button {
    background-color: #ff6100;
    padding: 1rem;
    width: fit-content;
    border: none;
    border-radius: 1rem;
    font-weight: bolder;
    color: white;
}

.temporary .catagories-box .cart button:hover {
    background-color: #ff6100;
    color: rgb(255, 255, 255);
    transition: .7s;
    border: 1px solid rgb(255, 255, 255);
}

.navigation-buttons{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 4em;
    margin-bottom: 3rem;

}
.navigation-buttons i{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}







