@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,600;1,300&display=swap');
body{
    background-color: rgba(0, 0, 0);
    padding: 10px;
}
.title{
    margin-top: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: 3px solid #ff6100;
    font-family: 'Rubik',sans-serif;
}

.box{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.inside-box{
    width: 600px;
    min-height: 80%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle-buttons{
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: 2em;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius:50px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.toggleMove{
    position:absolute;
    width: 50%;
    height: 90%;
    margin: 2px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #ff6100;
    color: white;
    font-size: 00.8em;
    font-weight: 600;
    transform: translateX(0%);
    transition: all .3s ease-in-out;

}

.toggle-button{
    padding: 1em;
    width: 50%;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.toggleMoveRight{
    transform: translateX(98%);
    transition: all .3s ease-in-out;
}

.form{
    display: none;
}

.signupform{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    width: 500px;
    margin: 0.8em 0;
    background-color: transparent;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-weight: 500;
    color: white;
}

.citizenship{
    text-align: center;
    padding: 1em;
}

.citizenship span span{
    color: red;
}

.input input{
    color: white;
    width: 100%;
    padding: 1em 1.5em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

.forgot-password{
    text-align: center;
}

.forgot-password a{
    text-decoration: none;
    color: #ff6100;
    font-size: 0.8em;
}

.submit-button-wrap{
    display: flex;
    justify-content: center;
}

.terms-conditions{
    color: white;
}

.terms-conditions a{
    text-decoration: none ;
    color: #ff6100;
}

.submit-button{
    width: 150px;
    padding: 1em;
    margin: 2em 0;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #ff6100;
    box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 3px, rgba(255, 255, 255, 0.24) 0px 1px 2px;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.submit-button:hover{
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
}
.loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
}



