body{
    background: linear-gradient(to right,orange 4%,#fff 50% ,orange );
    padding: 10px;
}

.navbar{
    background-color: rgb(241, 26, 241);
    margin: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
}

.logo{
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.menu{
    display: flex;
    margin-left:40px;
    font-size:14px;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    margin: 0px 30px;
}

.login-search form{
    display: flex;
    margin-right: 10px;
}

.login-search{
    display: flex;
    margin-right: 150px;
    

}

.login-search .search{
    background-color: orange;
    color: #fff;
    border: none;
    font-size: 10px;
    border-radius: 50%;
    padding:5px;
}

#search-catagories{
    width: 150px;
    border-radius: 10px;
    font-size: 10px;
    padding: 3px;
}

.login-search .login{
    background-color: orange;
    color: #fff;
    border: orange;
    border-radius: 10px;
    padding: 5px 10px;
    padding-left: 20px;
    font-size: 10px;
}

.catagories-menu{
    list-style: none;
    background-color: white;
    max-width: 500px;
    padding: 5px 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    display: none;
}

.catagories-menu-list:hover +.catagories-menu{
    display: block;
    max-width: 500px;
    padding: 5px 20px;
    padding-bottom: 50px;
}

.catagories-menu li a{
    text-decoration: none;
    color:black;
}

.slideshow{
    background-color: rgba(255, 235, 212, 0.7);
    width: 80%;
    height: 500px;
    margin-top: 100px;
    margin-left: 10%;
    border: 3px solid rgb(253, 165, 0,0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    padding: 0px 10px;
}

.slideshow i{
    font-size: 25px;
}

.slideshow:hover{
    background-color: rgb(255, 255, 255,0.9);
    border: 3px solid black;
    transition: .7s;
    font-size: 50px;
}
.acrylic{
    margin-top:100px ;
}

.acrylic .name{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.acrylic .name span{
    font-size: 25px;
    color: #000;
    background: linear-gradient(to left,orange,#fff) ;
    padding: 5px 100px;
}

.temporary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

.acrylic .temporary i{
    color: white;
    font-size: small;
}

.catagories-box{
    width: 15%;
    height: 500px;
    background-color: #fff;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid black;
}

.catagories-box:hover{
    transform: scale(1.1);
    transition: .7s;
    border-color: rgba(24, 18, 7, 0.8);
}

.acrylic .temporary .details span{
    color: black;
    font-size: medium;
}

.acrylic .temporary .catagories-box .picture{
    width:100%;
    height: 50%;
    background-color: bisque;

}

.acrylic .temporary .catagories-box .details{
    margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.acrylic .temporary .catagories-box .details .size-price span{
    text-decoration: none;
}
.acrylic .temporary .catagories-box .details .size-price span:nth-child(1){
    color: grey;
}

.acrylic .temporary .catagories-box .details .size-price span:nth-child(2){
    margin-left: 5px;
}

.acrylic .temporary .catagories-box .cart{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}


.acrylic .temporary .catagories-box .cart button{
    background-color: orange;
    padding: 15px;
    width:fit-content;
    border: none;
    border-radius:15px ;
    font-weight: bolder;
    color: white;
}

