body{
    background: linear-gradient(to right,orange 48%,#fff 40%);
    padding: 10px;
}

.navbar{
    background-color: rgb(241, 26, 241);
    margin: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
}

.logo{
    font-size: 20px;
    color: #fff;
}

.menu{
    display: flex;
    margin-left:40px;
    font-size:14px;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    margin: 0px 30px;
}

.login-search form{
    display: flex;
    margin-right: 10px;
}

.login-search{
    display: flex;
    margin-right: 150px;
    

}

.login-search .search{
    background-color: orange;
    color: #fff;
    border: none;
    font-size: 10px;
    border-radius: 50%;
    padding:5px;
}

#search-catagories{
    width: 150px;
    border-radius: 10px;
    font-size: 10px;
    padding: 3px;
}

.login-search .login{
    background-color: orange;
    color: #fff;
    border: orange;
    border-radius: 10px;
    padding: 5px 10px;
    padding-left: 20px;
    font-size: 10px;
}

.slideshow{
    background-color: rgba(255, 235, 212, 0.7);
    width: 80%;
    height: 500px;
    margin-top: 50px;
    margin-left: 10%;
    border: 3px solid rgb(253, 165, 0,0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
    padding: 10px;
    color: rgb(167, 153, 153);
}

.slideshow:hover{
    background-color: rgb(255, 255, 255,0.9);
    border: 3px solid black;
    transition: .7s;
    font-size: 50px;
}
.acrylic{
    margin-top:100px ;
}

.acrylic span{
    font-size: 25px;
    text-decoration: underline 2px solid white;
    color: #fff;
}

.temporary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
}

.catagories-box{
    width: 15%;
    height: 500px;
    background-color: #fff;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid black;
}

.acrylic .temporary .details span{
    color: black;
    font-size: medium;
}

.acrylic .temporary .catagories-box .picture{
    width:100%;
    height: 50%;
    background-color: bisque;

}

.acrylic .temporary .catagories-box .details{
    margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.acrylic .temporary .catagories-box .details .size-price span{
    text-decoration: none;
}

.acrylic .temporary .catagories-box .details .size-price span:nth-child(2){
    margin-left: 5px;
}

.acrylic .temporary .catagories-box .cart{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.acrylic .temporary .catagories-box .cart span{
    background-color: orange ;
    font-size: medium;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
}
