body{
    background-color: rgba(0, 0, 0);
    padding: 10px;
}

.navbar{
    margin: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index:1;
    padding: 5px;
    background-color: #000;
}

.logo img{
    width: 100px;
    cursor:pointer;
}

.menu{
    display: flex;
    margin-left:40px;
    font-size:14px;
}

.menu li{
    list-style: none;
}

.animate-catagories {
    display: inline-block;
    position: relative;
  }
  
  .animate-catagories:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff6100;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .animate-catagories:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.menu li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0px 30px;
}

.login-search form{
    display: flex;
    margin-right: 10px;
}

.login-search{
    display: flex;
    margin-right: 20px;
    

}

.login-search .search{
    background-color: #ff6100;
    color: #fff;
    border: none;
    font-size: 10px;
    border-radius: 50%;
    padding:10px;
    margin-left: 5px;
}

#search-catagories{
    width: 150px;
    border-radius: 10px;
    font-size: 10px;
    padding: 3px;
}

.login-search .login{
    background-color: #ff6100;
    color: rgb(255, 255, 255);
    border: #ff6100;
    border-radius: 10px;
    padding: 5px 10px;
    padding-left: 20px;
    font-size: 10px;
    height: 30px;
}




.background-image{
    /* background: url(https://www.itl.cat/pngfile/big/225-2252403_abstract-art-painting-png.jpg) center no-repeat; */
    width: 80%;
    height: 500px;
    border-radius: 80px;
    margin-top: 100px;
    margin-left: 10%;
    animation: slidermovement infinite 50s;
    animation-fill-mode:both;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    margin-bottom: 50px;
}

@keyframes slidermovement {
    0%{
        background:url(https://www.itl.cat/pngfile/big/225-2252403_abstract-art-painting-png.jpg) center no-repeat;
      }
    25%{
        background:url(https://upload.wikimedia.org/wikipedia/commons/1/18/%22Joy_-_Collage_of_Life%22_%2C_Ren%C3%A9_Cheng%2C_oil_painting%2C_2017.jpg);      
    }
    50%{
        background: url(https://cdn.pixabay.com/photo/2018/11/12/18/49/art-3811501_1280.jpg) center ;
        
    }
    75%
    {
        background: url(https://live.staticflickr.com/3849/32808095950_caee94a1e6_b.jpg);
        
    }
    100%
    {
        background: url(https://cdn.pixabay.com/photo/2017/05/24/19/26/abstract-2341349_1280.jpg) center ;
        
    }
}

.slideshow{
    width: 97%;
    height: 496px;
    border: 5px solid rgba(255, 255, 255);
    border-radius: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    /* color: #fff; */
    padding: 0px 20px;
    animation:boxborder infinite 5s; 
    animation-direction: alternate;
}
@keyframes boxborder {
    from{border-color: #fff;}
    to{border-color: #000;}
}

.slideshow a:nth-child(2) span::before{
    content: "ACRYLIC";
    animation: slidername infinite 50s;
    animation-fill-mode:both;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}

@keyframes slidername {
    0%{
        content: "ACRYLIC";
      }
    25%{
        content: "OIL";      
    }
    50%{
        content: "MODERN";
        
    }
    75%
    {
        content: "SKETCH";
        
    }
    100%
    {
        content: "ABSTRACT";
        
    }
}



.slideshow i{
    font-size: 25px;
}

.slideshow a{
    text-decoration: none;
    color: #fff;
    text-shadow: #000 5px 5px;
    font-weight: bolder;
    font-size: larger;
}

.slideshow:hover{
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid black;
    transition: .7s;
    font-size: 50px;
    color: #fff;
}
.seperator{
    display: flex;
    justify-content: center;
}
.seperatoro{
    width: 80%;
}
.acrylic{
    margin-top:100px ;
}

.acrylic .name{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.acrylic .name span{
    font-size: 25px;
    color: #fff;
    padding: 5px 100px;
}

.temporary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

.acrylic .temporary i{
    color: rgb(255, 255, 255);
    font-size: small;
}

.catagories-box{
    width: 15%;
    height: 500px;
    background-color: #fff;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid black;
}

.acrylic .temporary .details span{
    color: black;
    font-size: medium;
}

.acrylic .temporary .catagories-box .picture{
    width: 100%;
    height: 50%;
    contain: strict;
    display: flex;
    justify-content: center;
    background: rgb(94, 94, 94);
}

.acrylic .temporary .catagories-box .picture .img{
    width:100%;
    height: 100%;

}

.acrylic .temporary .catagories-box .details{
    margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.acrylic .temporary .catagories-box .details .size-price span{
    text-decoration: none;
}
.acrylic .temporary .catagories-box .details .size-price span:nth-child(1){
    color: grey;
}

.acrylic .temporary .catagories-box .details .size-price span:nth-child(2){
    margin-left: 5px;
}

.acrylic .temporary .catagories-box .cart{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}


.acrylic .temporary .catagories-box .cart button{
    background-color: #ff6100;
    padding: 15px;
    width:fit-content;
    border: none;
    border-radius:15px ;
    font-weight: bolder;
    color: white;
}

.acrylic .temporary .catagories-box .cart button:hover{
    background-color: #ff6100;
    color: rgb(255, 255, 255);
    transition: .7s;
    border: 1px solid rgb(255, 255, 255);
}

.join-mail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}

.join-mail span{
    font-size: larger;
    margin-bottom: 20px;
    color: #fff;
}
.join-mail form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#mail-join{
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    font-size: large;
    text-align: center;
    background-color: #ffffff;
    border: none;
    color: #000000;
}

.join-mail form button{
    padding: 10px;
    background-color: #ff6100;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.help-services{
    display: flex;
    justify-content: space-around;
    margin:50px 100px;
    color: #fff;
}

.help-services .help{
    display: flex;
    flex-direction: column;
    color: #fff;
}

.help-services .help a{
    text-decoration: none;
    margin-bottom: 5px;
    color: #fff;
}

.help-services .help .help-title{
    font-size: large;
    margin-bottom: 10px;
}

.help-services .services{
    display: flex;
    flex-direction: column;
}

.help-services .services a{
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;
}

.help-services .services .services-title{
    font-size: large;
    margin-bottom: 10px;
}

.featured{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
}

.featured-image{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.featured .brands p, .featured .artists p{
    font-size: larger;
    font-weight:bolder ;
    text-align: center;
    margin-bottom: 50px;
    text-decoration: underline 1px solid ;
}

.featured .brands{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.featured .brands .Images .login-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


/* .featured .artists{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.featured .artists .one{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.featured .artists .two{
    display: flex;
    justify-content: space-evenly;
} */

.featured img:hover{
    transform: scale(1.5);
    z-index: 1;
    transition: .8s;
}

.footer-major{
    width:100% ;
    display: flex;
    justify-content: center;

}

.footer{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.footer span{
    color: #fff;
}

.footer a{
    text-decoration: none;
    color: #fff;
}

.last-footer{
    display: flex;
    justify-content: center;
    color: #fff;
}

.last-footer a{
    text-decoration: none;
    color: #ff6100;
}